@model WebAppGestionZoo.Models.AnimauxViewModel
@{
    ViewBag.Title = "Animaux";
}

<div class="banner-header">
    <div class="container">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="content">
    <!--services-->
    <div class="services-section">
        <div class="container">
            <div class="services-grids">
                @foreach (WebAppGestionZoo.Models.AnimalModel item in Model.Animal)
                {
                    <div class="col-md-3 services-grid services-grid-bottom ">
                        <img src="@item.PhotoAnimal.Haute" class="img-responsive" alt="" />
                        <div class="services-info">
                            <h4>@item.Classe</h4>
                            <p>De la famille des: @item.Famille .</p>
                            <p>Et de l'espèce des: @item.Espece .</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--services-->
</div>

