<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    @*<title>Zoo Planet a Animals and Pets category Flat bootstrap Responsive  Website Template | Home :: w3layouts</title>*@
    @Styles.Render("~/Content/css")
    @RenderSection("SuiteCss", false)
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Zoo Planet Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

</head>
<body>
    <!--header-->
    <div class="header">
        <div class="container">
            <div class="header-top">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand">
                                <h1><a href="/Home/Index">zoo planet</a></h1>
                            </div>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="@ViewBag.Index"><a href="/Home/Index">Accueil <span class="sr-only">(current)</span></a></li>
                                <li class="@ViewBag.Coulisse"><a href="/Home/Coulisse">Les Coulisses</a></li>
                                <li class="@ViewBag.Animaux"><a href="/Home/Animaux">Animaux</a></li> @*ou Actualitéou animaux?*@
                                @*<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/Home/Gallery">Gallery1</a></li>
                <li><a href="/Home/Gallery">Gallery2</a></li>
                <li><a href="/Home/Gallery">Gallery3</a></li>
            </ul>
        </li>*@

                                <li class="@ViewBag.Gallerie"><a href="/Home/Gallerie">Gallerie</a></li>
                                <li class="@ViewBag.Contact"><a href="/Home/Contact">Contact</a></li>
                                <li class="@ViewBag.Connection"><a href="/Home/Connection">Connection</a></li>
                            </ul>

                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>

            </div>
        </div>
    </div>
    @RenderBody()
    <!--specials-->
    <div class="specials-section">
        <div class="container">
            <div class="specials-grids">
                <div class="col-md-3 specials1">
                    <h3>Horaires</h3>
                    <p>Du 1/04 au 30/09:</p>
                    <p>9h00 - 19h00</p>
                    <p>Le reste de l'année:</p>
                    <p>9h00 - 18h00</p>

                </div>

                <div class="col-md-3 specials1">
                    <h3>contact</h3>
                    <address>
                        <p>Zoo Planet Inc.</p>
                        <p>
                            3 Rue du Transvaal,
                        </p>
                        <p>33600 Pessac </p>
                        <p>Téléphone :+33 (0)557892810</p>
                        <p>Email : <a href="mailto:ZooPlanet@mail.com">ZooPlanet@mail.com</a></p>
                    </address>
                </div>

                <div class="col-md-3 specials1">
                    <h3> details</h3>
                    <ul>
                        @*<li><a href="/Home/About">About Us</a></li>*@                
                        <li><a href="https://www.zoo-bordeaux-pessac.com/old-content/uploads/2020/07/DOSSIER-PEDAGO-RESA-SCOLAIRES-VS.pdf" target="_blank">Charte Visiteur</a></li>
                        <li><a href="https://www.zoo-bordeaux-pessac.com/old-content/uploads/2020/07/ASSURANCE-ZOO.pdf" target="_blank">Assurance</a></li>
                        <li><a href="https://www.zoo-bordeaux-pessac.com/old-content/uploads/2020/07/CGV-ZOOBPessac.pdf" target="_blank">Conditions Générales de vente</a></li>
                        <li><a href="/Home/Contact">Site Map</a></li>
                    </ul>
                </div>

                <div class="col-md-3 specials1">
                    <h3>Reseaux</h3>
                    <ul>
                        <li><a href="https://www.facebook.com/ZooBordeauxPessac" target="_blank">facebook</a></li>
                        <li><a href="https://www.instagram.com/zoobordeauxpessac/?hl=fr" target="_blank">instagram</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!--footer-->
    <div class="footer-section">
        <div class="container">
            <div class="footer-top">
                <p>&copy; 2015 Zoo Planet . All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
            </div>
        </div>
    </div>
    <!-- Mes Script JS -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/boostrap")

    @RenderSection("BibilothequeScripts", false)
    @RenderSection("CustomScripts", false)

</body>
</html>

